/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-align: left;
}

img {
  width: 100%;
}

h1 em {
  color: #00fca6;
}

h2 {
  color: #aaaaaa;
}

main div {
  border-width: 4px;
  border-style: solid;
  background-color: #00fca6;
  border-color: #00fca6;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 28px;
  margin-right: 27px;
  padding-top: 33px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 39px;
}

header{
  border-width: 2px;
  border-style: solid;
  border-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 28px;
  margin-right: 27px;
  background-image: url(../img/code.jpg)
}

.box {
  border-color: white;
  background-color: white;
  border-style: solid;
  padding-right: 31px;
  padding-left: 30px;
  padding-top: 33px;
  padding-bottom: 29px;
  margin-top: 20px;
  margin-left: 28px;
  margin-bottom: 20px;
  margin-right: 27px;
}

.box h2 {
  color: black;
}

.grey {
  color: #aaaaaa;
}

a {
  background-color: #444444;
  border-color: #444444;
  border-style: solid;
  color: white;
}

main img {
  margin-top: 20px;
  margin-bottom: 34px;
}

.eikon {
  border-width: 2px;
  border-style: solid;
  border-color: #00fca6;
  text-align: center;
  padding-left: 114px;
  padding-right: 115px;
  padding-top: 18px;
  padding-bottom: 17px;
  margin-top: 20px;
  margin-left: 28px;
  margin-bottom: 20px;
  margin-right: 27px;
  
}